.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.map-container {
  flex: 1;
  position: relative;
  height: 100vh;
}

/* Leaflet map container */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

